h1{
    size: 100;
    color:black;
    padding-top: 20px;
    font-size: 400%;
    font-family: "나눔손글씨 붓";

}
    



#box-model
{
    margin:50px auto;
    height: 1000px;
    width: 700px;
    border : 3px solid black
}

.shape
{
    height: 150px;
    width: 200px;
}

.detail_shape
{
    height: 200px;
    width: 350px;
}


 table{
    padding-left: 30px ;
    padding-right: 30px;
    width: 100%;
    font-size: 200%;
    font-family: "나눔손글씨 붓";
 }
 
 td{
    padding-top: 20px;
    text-align: center;
 }
 