h1{
    size: 100;
    color:black;
    padding-top: 20px;
}
    



#box-model
{
    margin:50px auto;
    height: 1000px;
    width: 700px;
    border : 3px solid black
}

li{
    height:200px;
}

.shape
{
    height: 150px;
    width: 200px;
}
 .food
 {
    font-family: '나눔손글씨 붓';
    font-size: 200%
 }